<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3" default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3" default="tb3_2"/>
  <arg name="move_forward_only" default="false"/>

  <group ns="$(arg first_tb3)">
    <param name="tf_prefix" value=""/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load"/>

      <param name="global_costmap/global_frame" value="$(arg first_tb3)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg first_tb3)/base_footprint"/>
      <param name="local_costmap/global_frame" value="$(arg first_tb3)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg first_tb3)/base_footprint"/>

      <remap from="cmd_vel" to="cmd_vel"/>
      <remap from="odom" to="odom"/>
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)"/>
    </node>

    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
      <param name="robot_base_frame" value="$(arg first_tb3)/base_footprint"/>
      <param name="costmap_topic" value="map"/>
      <param name="costmap_updates_topic" value="map_updates"/>
      <param name="visualize" value="true"/>
      <param name="planner_frequency" value="0.33"/>
      <param name="progress_timeout" value="30.0"/>
      <param name="potential_scale" value="3.0"/>
      <param name="orientation_scale" value="0.0"/>
      <param name="gain_scale" value="1.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="min_frontier_size" value="0.75"/>
    </node>
  </group>

  <group ns="$(arg second_tb3)">
    <param name="tf_prefix" value=""/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load"/>

      <param name="global_costmap/global_frame" value="$(arg second_tb3)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg second_tb3)/base_footprint"/>
      <param name="local_costmap/global_frame" value="$(arg second_tb3)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg second_tb3)/base_footprint"/>

      <remap from="cmd_vel" to="cmd_vel"/>
      <remap from="odom" to="odom"/>
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)"/>
    </node>

    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
      <param name="robot_base_frame" value="$(arg second_tb3)/base_footprint"/>
      <param name="costmap_topic" value="map"/>
      <param name="costmap_updates_topic" value="map_updates"/>
      <param name="visualize" value="true"/>
      <param name="planner_frequency" value="0.33"/>
      <param name="progress_timeout" value="30.0"/>
      <param name="potential_scale" value="3.0"/>
      <param name="orientation_scale" value="0.0"/>
      <param name="gain_scale" value="1.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="min_frontier_size" value="0.75"/>
    </node>
  </group>

  <group ns="$(arg third_tb3)">
    <param name="tf_prefix" value=""/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load"/>
      <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load"/>

      <param name="global_costmap/global_frame" value="$(arg third_tb3)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg third_tb3)/base_footprint"/>
      <param name="local_costmap/global_frame" value="$(arg third_tb3)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg third_tb3)/base_footprint"/>

      <remap from="cmd_vel" to="cmd_vel"/>
      <remap from="odom" to="odom"/>
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)"/>
    </node>

    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
      <param name="robot_base_frame" value="$(arg third_tb3)/base_footprint"/>
      <param name="costmap_topic" value="map"/>
      <param name="costmap_updates_topic" value="map_updates"/>
      <param name="visualize" value="true"/>
      <param name="planner_frequency" value="0.33"/>
      <param name="progress_timeout" value="30.0"/>
      <param name="potential_scale" value="3.0"/>
      <param name="orientation_scale" value="0.0"/>
      <param name="gain_scale" value="1.0"/>
      <param name="transform_tolerance" value="0.3"/>
      <param name="min_frontier_size" value="0.75"/>
    </node>
  </group>
</launch>